body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}
.header {
    display: flex;
    margin: 15px;
}
.conteiner-for-karta-and-materials {
    display: flex;
    justify-content: center;
}
.karta {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 127px;
    height: 47px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #45543A;
}   
.materials {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 127px;
    height: 47px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5F6F52;
}
.burger {
    margin-left: 13px;
    padding: 10px;
    background-color: #F9EBC7;
}
.burger-margin-top {
    margin-top: 10px;
}
.kart-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.play-png  {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 14px;
    border-radius: 13px;
    background: #5F6F52 ;
    width: 310  px;
    height: 34px;
    margin-left: 10px;
}
.player-under {
    margin: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.sec-left {
    width: 66px;
    height: 66px;
    border-radius: 7px;
    text-align: center;
    background: #5F6F52;
    padding: 9px;
}
.nazad {
    padding: 10px;
    background-color: #F9EBC7;
    text-align: center;
    margin-right: 13px;
    margin-left: 19px;
}
.sec-left-img {
    margin-top: 15px;
}
.nazad-margin-top {
    margin-top: 10px;
}
.sec-left-img2 {
    margin-top: 25px;
}
.card-cvadrat {
    width: 32px;
    height: 32px;
    background: #B99470;
    margin-left: 10px;
}