body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}
.dobav-vopros-conteiner {
    display: flex;
}
.dobav-vopros {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin: 10px;
}
.nazad {
    margin-top: 17px;
    margin-right: 30%;
    margin-left: 10px;
}
.input-yslovia2 {
    width: 90%;
    height: 161px;
    margin: 18px;
    margin-top: 10px;
    background: #B4A2A2;
    border-radius: 5px; 
    
}
.variati-otveta {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #544C4C;
    text-align: center;
    width: 90%;
    height: 44px;
    margin: 30px;
    margin-top: 58px;
    background: #B4A2A2;
    border-radius: 5px;
}
.variant-otveta-predok {
    justify-content: center;
    margin: 10px;
    align-items: center;
}
.input-yslov-pp {
    justify-content: center;
}
.dobav-variant-otveta {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #191C24;
    text-align: center;
    width: 40%;
    height: 40px;
    background: #5F6F52;
    border-radius: 5px;
}
.predok-dobav-variant-otveta {
    display: flex;
    justify-content: center;
}
