body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}

.dobav-test {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
    margin: 10px;
}
.dobav-vopros {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    height: 37px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 10%;
    background: #5F6F52;
}
.dobav-vopros-conteiner {
    justify-content: center;
}
.dobav-test-conteiner {
    display: flex;
    justify-content: center;
}
.dobav-vopros1 {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    display: flex;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 10%;
    background: #783D19;
}
.checkbox {
 margin-left: 73%;
}
.checkbox-nastr {
    width: 20px;
    height: 20px;
    background-color: #B99470;
    border-radius: 5px;
}
.nastr1 {
    margin-top: 14px;
    margin-left: auto;
}
.nastr2 {
    margin-top: 14px;
    margin-right: auto;
}
.nastr3 {
    margin-top: 14px;
    margin-right: auto;
}
