body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}
.input-nazvanie2 {
    background: #B4A2A2;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    width: 80%;
    height: 32px;
    margin: 10px; 
    margin-top: 20px;
}
.audio-file {
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.4);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #5F6F52;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    height: 40px;
    margin-top: 34px;
}
.dobavlenie {
    font-size: 23px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
} 
.dobav-header {
    display: flex;
    margin-left: 17%;
}
.conteiner-audio-file {
    justify-content: center;
}
.main-all {
    margin-top: 10px;
    margin-left: 15%;

}  
