body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}
.conteiner {
    height: 100vh;
}
.header {
    justify-content: center;
    margin: 15px;
    height: 10%;
}
.conteiner-for-karta-and-materials {
    display: flex;
    justify-content: center;
}
.karta {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 127px;
    height: 47px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #45543A;
}   
.materials {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 127px;
    height: 47px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5F6F52;
}
.burger {
    margin-left: 13px;
    padding: 10px;
    background-color: #F9EBC7;
}
.burger-margin-top {
    margin-left: 10px   ;
    margin-top: 10px;
}
.main {
    justify-content: center;
    height: 75%;
    width: 100%;
}

.kart-main {
    position: fixed;
    margin-top: 20px;
    margin-left: 17%;
}
.play-png  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border-radius: 13px;
    background: #5F6F52 ;
    width: 91%;
    height: 34px;
    margin: 10px;
}
.footer {
    width: 100%;
    position: absolute;
    bottom:0;
    height: 15%;
}
.player-under {
    margin-top: 10px;
    display: flex;
    width: 100%;
    width: 91%;
    margin: 10px;
}
.sec-left {
    background-color: #45543A;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
    height: 66px;
    
}

.nazad {
    padding: 10px;
    background-color: #F9EBC7;
    text-align: center;
    margin-right: 13px;
    margin-left: 19px;
}

.nazad-margin-top {
    margin-top: 10px;
}

.card-cvadrat {
    width: 32px;
    height: 32px;
    background: #B99470;
    margin-left: 10px;
}