body {
    margin: 0;
    padding: 0;
    background-color: #F9EBC7;
}
.header-text {
    display: flex;
    justify-content: center;
}
.header {
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    font-size: 23px;
    font-weight: 600;
}
.img-ecscursii {
    margin-top: 45px;
    margin: 9px;
    width: 342px;
    height: 161px;
    background: #CCE0C5;
}
.img-ecs-pp {
    display: flex;
    justify-content: center;
}
.zagruka-photo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 19px;
    width: 298px;
    height: 30px;
    border-radius: 10px;
    background: #5F6F52;
    text-align: center;
    margin: 9px;
    margin-top: 8px;
}
.zagruz {
    display: flex;
    justify-content: center;
}
.osnovnai-infa {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 9px;
    margin-top: 11px;
}

.input-nazvanie2 {
    width: 100%;
    background-color: #B4A2A2;
    border-radius: 5px;
    height: 36px;
    margin: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.input-opisanie2 {
    background-color: #B4A2A2;
    border-radius: 5px;
    width: 100%;
    height: 143px;
    margin-top: 37px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.chasti {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
    margin: 9px;

}
.nazvanie-chasti {
    width: 100%;
}
.nazvanie-samo-chasti {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 41px;
    margin-top: 12px;
    text-align: center;
    background: #B4A2A2;
    border-radius: 5px;
}
.dobavit {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
    width: 100%;
    text-align: center;
    height: 28px;
    margin-top: 12px;
    border-radius: 5px;
    background: #5F6F52;
}
.main-chast {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
